# Ignore node_modules
node_modules/

# Ignore environment variables file
.env
client/node_modules/
server/node_modules/

# Ignore environment files in both client and server
client/.env
server/.env